<!doctype HTML>
<html>
  <head>
    <title>Yes</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>
  <body>
    <div ng-app="" ng-controller="myCtrl">
      <h1>AngularProject</h1>
      <p>First name: <input type="text" ng-model="fname"></p>
      <p>Last name: <input type="text" ng-model="lname"></p>
      Name: {{fname + " " + lname}}
    </div>
    <script>
      var app = angular.module('myApp, []');
      app.controller('myCtrl', function($scope) {
        $scope.fname= "John";
        $scope.lname= "Doe";
      });
    </script>
  </body>
</html>
